body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.nadpis-hlavny {
	color: #1a2b88;
	font-weight: bolder;
	margin-bottom: 45px;
}

.pod-nadpis {
	color: #1a2b88;
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: 30px;
}

.pod-nadpis2 {
	margin-top: 30px;
	color: #1a2b88;
	font-weight: 500;
}

.center-text {
	text-align: center;
}

.italic-text {
	font-style: italic;
}

.modra {
	color: #1a2b88;
}

.podciarknutie-text {
	text-decoration: underline;
	font-weight: bold;
}

.odsad {
	margin-bottom: 10px;
}

.card-use {
	padding: 60px 60px 60px 60px;
	background-color: white;
	border-radius: 16px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	margin-bottom: 20px;
	margin-right: 20px;
}

.card-menu {
	padding: 20px 20px 20px 30px;
	background-color: white;
	border-radius: 16px;
	margin-bottom: 20px;
	margin-right: 20px;
	border: 1px solid rgb(87, 87, 87);
}

.center-image {
}

.homePage {
	background-image: url("/src/images/bgDesign.png");
	background-size: cover;
	width: 100vw;
	height: 100vh;

	display: flex;
	overflow-x: hidden;
}

.link {
	text-decoration: none;
	color: #0c0c0d;
	font-weight: 500;
	font-size: 1.1rem;
}

.lavy-nav {
	gap: 10px;
	display: flex;
	flex-direction: column;
	padding-left: 30px;
	width: 25rem;
	height: 100%;
	padding-top: 2rem;
	position: sticky;
	top: 0;
}

.lavy-nav > .menu-open > {
	display: block;
}

.mobile-menu-toggle {
	display: none;
	cursor: pointer;
}

.nav-button {
	display: flex;
	align-items: center;
	gap: 1.2rem;
	padding: 0.5rem 0;
	margin: 0.5rem 0rem;
	padding-left: 0.7rem;
	margin-right: 2rem;
	border: 1px solid transparent;
	border-radius: 10px;
}

.nav-button:hover {
	border: 1px solid #555555;

	color: #1a2b88;
	background-color: #ffffff;
	transition: 0.5s all;
}
.nav-line {
	width: 13rem;
	height: 2px;
	background-color: #1a2b88;
	margin: 1rem 0;
	margin-left: 0.8rem;
}

.user-button {
	display: flex;
	align-items: center;
	gap: 0.8rem;
	margin-top: auto;
	text-decoration: none;
	color: #0c0c0d;
	font-weight: 500;
	font-size: 1.1rem;
	margin-bottom: 0.5rem;
}

.hlavicka {
	display: flex;
	justify-content: end;
	z-index: 99;
	margin-right: 2rem;
	height: 100px;
	gap: 1.5rem;
}

.hlav-button {
	display: flex;
	align-items: center;
}

.pravy-content {
	width: 100vw;
	height: 100vh;
}

.hlav-button img {
	width: 15px;
	height: 15px;
}

.main-content {
	margin-right: 2rem;
	height: 85%;
	flex-wrap: wrap;
}

.modely {
	height: 18rem;
	width: 100%;
	gap: 15px;
	display: flex;
	margin-bottom: 15px;
}

.item1 {
	background-color: white;
	width: 75%;
	border-radius: 25px;
	padding: 25px;
	box-shadow: 5px 5px 39px 0px rgba(0, 0, 0, 0.25);
}
.item1 > svg {
	width: 100%;
	height: 80%;
}

.item2 {
	background-color: white;
	width: 25%;
	padding: 1.4rem;

	border-radius: 25px;
	text-align: center;
	box-shadow: 5px 5px 39px 0px rgba(0, 0, 0, 0.25);
}
.title {
	font-size: 1.5rem;
	margin-bottom: 2rem;
}

.metrika {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.skills > .metrika > p {
	font-size: 0.9rem;
	margin: 0rem 0;
}
.skills > .metrika > p:nth-child(1) {
	margin-right: 7rem;
}

.skills > .metrika {
	margin: 0.5rem 0;
}

.item3 {
	background-color: white;
	width: 25%;
	border-radius: 25px;
	padding: 25px;
	box-shadow: 5px 5px 39px 0px rgba(0, 0, 0, 0.25);
	text-align: center;
}

.profile-photo {
	width: 60%;
}

.item4 {
	background-color: white;
	width: 75%;
	border-radius: 25px;
	padding: 25px;
	box-shadow: 5px 5px 39px 0px rgba(0, 0, 0, 0.25);
	display: flex;
	justify-content: space-between;
}
.item4 > .about-me > p {
	font-size: 0.8rem;
	width: 50ch;
}

.line {
	width: 100%;
	height: 2px;
	background-color: #1a2b88;
	margin-bottom: 0.5rem;
}

.vertical-line {
	height: 100%;
	width: 1.5px;
	background-color: #1a2b88;
	margin: 0 0.2rem;
}

.mobile-menu-toggle {
	display: flex;
	flex-direction: column;
	cursor: pointer;
	position: absolute;
	top: 1rem;
	left: 1rem;
	z-index: 99;
}

.mobile-menu-toggle span {
	height: 3px;
	width: 25px;
	background-color: #333;
	margin: 5px 0;
	transition: 0.4s;
}

.mobile-menu-toggle.open span:nth-child(1) {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.mobile-menu-toggle.open span:nth-child(2) {
	opacity: 0;
}

.mobile-menu-toggle.open span:nth-child(3) {
	transform: rotate(45deg) translate(-5px, -6px);
}
.nav-burger {
	display: none;
}

@media only screen and (max-width: 768px) {
	.nav-burger {
		display: block;
	}
	.main-content {
		margin-right: 0;
	}

	.modely {
		flex-direction: column;
	}

	.item1,
	.item2,
	.item3,
	.item4 {
		width: 100%;
		margin-bottom: 15px;
	}

	.item1 > svg {
		height: 50%;
	}

	.profile-photo {
		width: 100%;
	}

	.item4 {
		flex-direction: column;
	}

	.item4 > .about-me > p {
		width: 100%;
	}
	.menu-open {
		display: none;
	}

	.menu-container {
		display: block;
	}

	.menu-container > .menu-open > {
		display: block;
	}

	.lavy-nav {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background-color: #fff;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
		z-index: 98;
	}
	.homePage {
		flex-direction: column;
	}
}
